/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,300);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,300);

body {
  font-family: 'Titillium Web', sans-serif;
}

header h1 {
  font-family: 'Titillium Web', sans-serif;
  display: inline-block;
  margin-right: 30px;
}

header select#cip-query-chooser {
  margin-right: 10px;
}

#dashboard-settings  {
  display: inline-block;
}
#dashboard-settings label {
  font-weight: normal;
}

#main-column {
  margin-left: auto;
  margin-right: auto;
  width: 810px; /* 3 * (250 + 2 * 10) px */
  /*min-width: 810px;*/
}

table caption {
  font-style: italic;
}

div.gridster {
  margin-top: 10px;
}

div.gridster > ul > li {
  background-color: white;
  overflow-y: auto; /* scroll */
  overflow-x: hidden;
  list-style: none;
  padding: 0.25em;
  border: 1px solid #AAA;
}
.gridster .preview-holder {
  background-color: #AAA !important;
}


div.gridster > ul > li h1 {
  font-size: 1em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

span.large-percentage {
  font-size: 3em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
